



<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>💻 Data-Science-Job-Change-Prediction</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="gradient" />
    
    <br>
    <br>
    {%if data == 1 %}
    <h1 style="margin: 0 auto; width:500px; color: white; font-size: 200%; padding-top: 10%">✔ Yes, Candidate may be looking for job change!</h1>
    {%else%}
    <h1 style="margin: 0 auto; width:500px; color: white; font-size: 200%; padding-top: 10%;">❌ No, Candidate might not be looking for job change!</h1>
    {%endif%}
    <br>
    <br>		
    
    <a style="margin: 0 auto; width:500px; padding-left: 45%; color: white; font-weight: bold;" href="/">⬅ Click to go home</a>
    
 </body>
</html>
<!-- partial -->
  <script  src="{{ url_for('static',filename='styles/script.js') }}"></script>

</body>
</html>
